:root {
    --box-shadow-rgb: 232,217,160;
}
.container {
    background-image: url('images/rsvp-bg.png');
    box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) rgba(var(--box-shadow-rgb), var(--box-shadow-color-opacity)),
                var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-extra-blur) var(--box-shadow-extra-spread) rgba(var(--box-shadow-rgb), var(--box-shadow-color-extra-opacity));
}
.content {
    background-color: rgba(255, 255, 255, 0.35);
}
.form-container {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px 20px 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    margin-top: 10px;
    color: black;
    font-family: 'Poppins';
}
form {
  display: flex;
  flex-direction: column;
}
.form-header {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}
label {
  margin-bottom: 5px;
  font-weight: bold;
}
.gradient-border {
    padding: 1px;
    background: linear-gradient(135deg, #ff6f61, #d04ed6);
    border-radius: 5px;
}
input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  background-image: white;
  border-color: white;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid transparent;
}
.rsvp-button {
    width: 80%;
    align-self: center;
    margin-top: 30px;
}
#rsvp {
    color: #FDBC43;
}
.rsvp-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.rsvp-success-header {
    font-size: 30px;
    text-align: center;
    line-height: 1.2;
}
.rsvp-success-header p {
    margin-top: 10px;
    margin-bottom: 0;
}
.rsvp-success-img img{
    height: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7);
}