:root {
    --box-shadow-rgb: 172, 132, 217;
}
.container {
    background-image: url('images/start-bg.png');
    box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) rgba(var(--box-shadow-rgb), var(--box-shadow-color-opacity)),
                var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-extra-blur) var(--box-shadow-extra-spread) rgba(var(--box-shadow-rgb), var(--box-shadow-color-extra-opacity));
}
header {
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 1.0);
}
.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.hero-image {
    height: 60px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7);
    flex: 1;
}
.hero-info {
    flex: 4;
    font-size: 2rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 1;
}
.callout-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 60px;
    align-items: start;
    justify-content: center;
}
.callout {
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    padding: 15px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 800;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7);
    border: 2px solid white;
}
#callout-1 {
    width: 10rem;
    margin-top: 0;
    transform: translateX(3%) translateY(30%);
}
#callout-2 {
    width: 12rem;
    margin-top: 0;
    transform: translateX(-3%) translateY(-5%);
}
#callout-3 {
    width: 15rem;
    margin-top: 30px;
    transform: translateX(10%) translateY(-25%);
}
.image-row {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.image-container {
    position: relative;
    width: 100px;
    height: 100px;
}
.image-container img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 15px rgba(255,255,255, 0.8));          
}
.image-text {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(135deg, #ff6f61, #d04ed6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #d04ed6;
    font-size: 0.65rem;
    text-align: center;
    white-space: nowrap;
    font-family: 'Poppins';
    font-weight: 1000;
}
#start {
    color: #FDBC43;
}