#content {
	max-width: 750px;
}

/*#header {
	height: 150px;
	margin: auto;
	margin-top: 50px;
	width: 40%;
}*/

#header-image img {
	max-height: 50px;
}

#header-text {
	font-weight: 700;
	font-size: .5em;
	margin-bottom: 50px;
}
