*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: helvetica, arial;
	text-align: center;
	background-color: white;
}
@font-face {
	font-family: journal;
	src: url(../fonts/journal.ttf);
}
#content {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logo {
	font-family: 'Rammetto One', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 50px;
  margin-top: 20px;
}
.logo-text {
  font-size: 1rem;
  font-weight: bold;
}
.logo-image {
  width: 50px;
  object-fit: cover;
}
#coming-soon {
	margin: auto;
	margin-top: 1%;
	font-size: 4rem;
	font-family: journal;
}
#party {
	max-width: 90%;
	margin-top: 5%;
	font-size: 1.3rem;
	text-align: center;
}
@media (min-width: 768px) { 
	#logo {
		margin-top: 5%;
	}
	#logo img {
		max-width: 60%;
	}
	#coming-soon {
		font-size: 5rem;
	}
	#party {
		margin-top: 2%;
		font-size: 1.5rem;
	}
}
