*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: helvetica, arial;
	text-align: center;
	background-color: white;
}
@font-face {
	font-family: journal;
	src: url(../fonts/journal.ttf);
}
#content {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#logo {
	margin-top: 20%;
}
#logo img {
	max-width: 80%;
}

#coming-soon {
	margin: auto;
	margin-top: 1%;
	font-size: 4rem;
	font-family: journal;
}
#party {
	max-width: 90%;
	margin-top: 5%;
	font-size: 1.3rem;
	text-align: center;
}
@media (min-width: 768px) { 
	#logo {
		margin-top: 5%;
	}
	#logo img {
		max-width: 60%;
	}
	#coming-soon {
		font-size: 5rem;
	}
	#party {
		margin-top: 2%;
		font-size: 1.5rem;
	}
}
