:root {
    --box-shadow-rgb: 233,218,189;
}
.container {
    background-image: url('../images/inspiration-bg.png');
    box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) rgba(var(--box-shadow-rgb), var(--box-shadow-color-opacity)),
    var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-extra-blur) var(--box-shadow-extra-spread) rgba(var(--box-shadow-rgb), var(--box-shadow-color-extra-opacity));
}
.content {
    background-color: rgba(255, 255, 255, 0.80);
}
.logo-text {
  color: white;
}
.inspo-hero {
    text-align: center;
    max-width: 90%;
    font-weight: 800;
    margin-top: 5px;
    text-shadow: 0 0 2px white;
}
.speakers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: black;
    text-shadow: 0 0 2px white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
}
.speaker-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    gap: 15px;
    max-width: 100%;
    min-width: 25%;
}
.img-and-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 110px;
}
.speaker-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
}
.speaker-quote {
    font-size: 0.8rem;
    font-style: italic;
    max-width: 110px;
    text-align: center;
}
.speaker-info {
    height: 100%;
    width: 65%;
}
.speaker-name {
    font-size: 1.2 rem;
    font-weight: 800;
}
.speaker-attributes {
    font-size: 0.8rem;
    font-weight: 600;
}
.speaker-about {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2;
    display: block;
}
.more-speakers {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    max-width: 80%;
    margin-top: 30px;
    font-style: italic;
}
#inspo {
    color: #FDBC43;
}