:root {
    --box-shadow-rgb: 221,176,159;
}
.container {
    background-image: url('../images/speakers-bg.png');
    box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) rgba(var(--box-shadow-rgb), var(--box-shadow-color-opacity)),
    var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-extra-blur) var(--box-shadow-extra-spread) rgba(var(--box-shadow-rgb), var(--box-shadow-color-extra-opacity));
}
.content {
    background-color: rgba(255, 255, 255, 0.3);
}
.inspo-hero {
    text-align: center;
    max-width: 90%;
    font-family: 'Poppins';
    font-weight: 600;
    margin-top: 5px;
    color: black;
}

/* INSPO TRAIN STARTS HERE */

.glowy-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
}
.image-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
@media (min-width: 768px) {
    .image-column {
        margin-top: 50px;
    }
    .image-column {
        gap: 30px;
    }
}
.image {
    height: 90px;
    visibility: hidden;
    opacity: 0;
    transform: translateX(0);
    transition: transform 3s ease;
}
.image1.visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(-300%);
}
.image2.visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(200%);
}
.image3.visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
}
.image1 {
    transform: translateX(400%);
}
.image2 {
    transform: translateX(-170%);
    margin-top: 30%;
}
.image3 {
    transform: translateX(200%);
    margin-top: -60%;
}

/* INSPO TRAIN ENDS HERE */

.speakers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins';
    color: black;
    text-shadow: 0 0 5px rgba(255,255,255, 0.8);
    width: 100%;
    margin-top: 10px;
}
.speaker-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    min-width: 25%;
}
.speaker-image {
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7);
}
.speaker-info {
    text-align: center;
    height: 100%;
    width: 15rem;
}
.speaker-info h3 {
    font-size: 1.6rem;
    margin: 0;
}
.speaker-attributes {
    font-weight: 600;
}
.speaker-topic {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Rammetto One';
}
#inspo {
    color: #FDBC43;
}
