:root {
    --box-shadow-rgb: 232,217,160;
}
.container {
    background-image: url('../images/start-bg.png');
    box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) rgba(var(--box-shadow-rgb), var(--box-shadow-color-opacity)),
                var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-extra-blur) var(--box-shadow-extra-spread) rgba(var(--box-shadow-rgb), var(--box-shadow-color-extra-opacity));
}
.content {
    background-color: rgba(255, 255, 255, 0.6);
}
.rsvp-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.rsvp-success-header {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    line-height: 1.2;
    color: rgb(51,85,90);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.rsvp-success-header p {
    margin-top: 10px;
    margin-bottom: 0;
}
.rsvp-success-img img{
    height: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 0 40px 15px rgba(255,255,255, 0.4);
}