*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --box-shadow-offset-x: 0;
    --box-shadow-offset-y: 0;
    --box-shadow-blur: 200px;
    --box-shadow-spread: 100px;
    --box-shadow-extra-blur: 300px;
    --box-shadow-extra-spread: 300px;
    --box-shadow-color-opacity: 0.4;
    --box-shadow-color-extra-opacity: 0.3;
    --box-shadow-rgb: rgb(255, 255, 255);
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: white;
    padding-bottom: 5vh;
    font-size: 18px;
}
@media (min-width: 768px) {
    .container {
        max-width: 480px;
        margin: 0 auto;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    footer {
        max-width: 480px;
    }
}
.container {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    background-size: cover;
    min-height: 100vh;
    background-position: center top;
    background-repeat: no-repeat;
    box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}
a {
    color: gold;
    font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 50px;
  margin-top: 20px;
}
.logo-text {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Rammetto One', sans-serif;
  color: rgb(51, 85, 90);
}
.logo-image {
  width: 50px;
  object-fit: cover;
  transform: translateY(-5px);
}
.somtaget-button {
    background-color: rgb(51,85,90);
    margin-top: 30px;
    color: rgb(247,184,67);
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
footer {
    bottom: 0;
    position: fixed;
    width: 100vw;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}
.nav-item {
    height: 6vh;
    background-color: rgb(51,85,90);
    font-size: 0.9rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}